.navbar {
    display:flex;
    gap: 20px;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.nav-link{
    text-decoration: none;
    color: #f3149e;
    font-weight: 800;
    font-size: 0.99rem;
}
.nav-link:hover{
    color:#0d6efd;
}